{{template "header"}}
        <title>分类 - 我的博客</title>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                {{template "navbar" .}}
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <h1>分类列表</h1>
            <form method="post" action="/category/add">
                <div>
                    <label><h3>分类名称</h3></label>
                    {{if .IsLogin}}
                    <input id="name" type="text" class="form-control" name="name" placeholder="Category Name">
                    {{end}}
                </div>
                <div>
                    <br>
                    {{if .IsLogin}}
                    <button type="submit" class="btn btn-default" onclick="return checkInput();">添加</button>
                    {{end}}
                </div>
            </form>
            <script type="text/javascript">
                function checkInput() {
                    var name=document.getElementById("name");
                    if(name.value.length==0) {
                        alert("请输入分类名称");
                        return false
                    }
                    return true
                }
            </script>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>文章数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{$isLgin:=.IsLogin}}
                {{range .Categories}}
                    <tr class="my_table">
                        <th>{{.ID}}</th>
                        <th>{{.Title}}</th>
                        <th>{{.TopicCount}}</th>
                        {{if $isLgin}}
                        <th>
                            <a href="/category/del/{{.ID}}">删除</a>
                        </th>
                        {{else}}
                            <th></th>
                        {{end}}
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        {{template "ini_script"}}
    </body>
</html>